

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pjs{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.tag-drop-shadow{
  filter: drop-shadow(14px 27px 45px rgba(112, 144, 176, 0.20))
}

input:focus, textarea:focus, select:focus{
  outline: 1px solid #034732;
}

button.bg-primary-main:hover, a.bg-primary-main:hover{
  background: black;
  color: white;
}